:root {
    --color-primary-dark: #31261A;
    --color-primary-light: #faf4ea;
    --color-brand-light: #819B57;
    --color-brand-dark: #465929;
    --color-secondary-light: #CFCFBC;
    --color-secondary-dark: #A18268;
}

/* base */
body{
    color: var(--color-primary-dark);
}
ul {
    list-style-type: none;
}

/* button */
.button {
    color: var(--color-primary-light);
    background-color: var(--color-brand-dark);
    border: 2px solid var(--color-brand-dark);
    border-radius: 8px;
    cursor: pointer;
}

.button:hover {
    color: var(--color-brand-dark);
    background-color: transparent;
}

/* link */
.link {
    color: var(--color-primary-light);
}

.link:hover {
    color: var(--color-brand-light);
}

/* hero-title */
.hero-title {
    color: var(--color-primary-light);
}

.hero-title .accent {
    color: var(--color-brand-light);
}

/* advantages-list */
.advantages-list {
    color: var(--color-primary-light);
    background-color: var(--color-brand-light);
    /* Додано дефіс */
}

/* section-title */
.section-title {
    color: var(--color-primary-dark);
}
.section-title .accent{
    color: var(--color-brand-dark);
}